body{
    width: 1000px;
    margin: 0px auto;
    background: #f8f8f8;
    border: 1px solid #ccc;
    border-top: 0;
    border-bottom: 0;
    box-shadow: 0 0px 7px #aaa;
}
h1{
    font-size: 36px;
    text-align: center;
    padding-top: 10px;
}
h2{
    font-size: 28px;
    text-align: center;
    padding-top: 30px;
}
.dummy{
    height: 10px;
    width: 1000px;
    background-color: #102686ec;
}
legend{
    font-size: 20px;
    font-weight: bold;
}
fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-left: 0.75em;
    padding-inline-end: 0.75em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: outset;
    border-color: #565656;
    border-image: initial;
    border-radius: 10px;
}
.message{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
/* ここから課題04編集 */
.dropdown{
    max-width: 1000px;
    display: flex;
}
ul{
    text-align: center;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    color: #fff;
}
.dropdown li{
    max-width: calc(1000px/4);
    width: 100%;
    position: relative;
    padding: 5px;
    display: block;
    cursor: pointer;
    font-size: 16px;
}
.dropdown>li{
    margin: 1px;
    background: #102896ec;
    display: inline;
}
.dropdown_menu{
    width: 100%;
    display: none;
    position: absolute;
    margin-left: -5px;
    margin-top: 5px;
    padding: 0;
    background: #7ba5ff;
}

.dropdown_menu li{
    width: 100%;
}

.dropdown_menu li a{
    padding: 5px 0;
    margin: -5px 5px -5px -5px;
    display: block;
    color: #fff;
}
li a:hover{
    background: #b3d7ff;
    color: rgb(65, 65, 65);
}
/* ここからinput.phpのタブ */
.tab_group{
    max-width: 700px;
    padding-top: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.tab{
    width: 100%;
    color: #d9d9d9;
    padding: 2px;
    font-size: 16px;
    border: 1px solid #102896ec;
    border-radius: 15px 15px 0px 0px/30px 30px 0px 0px;
    list-style:none;
    text-align:center;
    cursor:pointer;
    background: #565656;
}
.panel-group{
    height:100px;
    border:solid 1px #CCC;
    border-top:none;
    background:#eee;
}

.tab.is-active{
    background:#d9d9d9;
    border: 1px solid #102896ec;
    border-bottom: 1px solid #d9d9d9;
    color:#565656;
    transition: all 0.2s ease-out;
}

.box{
    margin: 0 auto;
    width: 700px;
    display: flex;
    justify-content: space-evenly;
    background:#d9d9d9;
    border: 1px solid #102896ec;
    border-top: 1px solid #d9d9d9;
    border-radius: 0px 0px 20px 20px;
}
.panel{
    display:none;
}
.panel.is-show{
    display:block;
    width: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
    /* background: #d9d9d9;
    border: 1px solid #ccc;
    border-radius: 15px;
    border-top: 0;
    border-bottom: 0;
    box-shadow: 0 0px 7px #aaa; */
}

.form{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.mainbox{
    display: flex;
}
.leftbox{
    margin: 0 auto;
    margin-top: 25px;
    width: 200px;
    height: 500px;
    background: pink;
}
.rightbox{
    width: 750px;
    margin: 0 auto;
}
/* ここまで課題04編集 */
.error{
    margin: 0;
    color: red;
    font-weight: bold;
}
.header1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
    justify-content: space-evenly;
}
.text{
    color: blue;
    font-size: 14px;
    text-align: center;
    padding-top: 10px;
}
.field{
    width: 400px;
    margin: 0px auto;
    margin-top: 20px;
}

.shukeihyou{
    display: flex;
    justify-content: center;
}
.message{
    text-align: center;
    color: blue;
    font-weight: bold;
    padding-bottom: 20px;
    line-height: 1.5;
}
.shift{
    padding: 10px;
    padding-right: 30px;
    text-align: right;
}
.hyouBox{
    width: 700px;
    margin: 0px auto;
    margin-top: 30px;
    padding-bottom: 30px;
    background: rgb(238, 238, 238);
    border: 1px solid #ccc;
    border-top: 0;
    border-bottom: 0;
    box-shadow: 0 0px 7px #aaa;
}
.hyoutop{
    display: flex;
    justify-content: space-around;
}
.left,.center,.right{
    width: 300px;
}
.left,.right{
    display:none;
}
.left{
    padding-top: 50px;
}
.left p{
    padding:5px;
    padding-left: 50px;
    font-size: 20px;
    text-decoration: underline;
}
.shounin{
    width: 60px;
    padding:2px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: 50px;
    border: 1px solid black;
    text-align: center;
}
.shouninbox{
    width: 60px;
    height: 60px;
    padding:2px;
    margin-left: auto;
    margin-right: 50px;
    border: 1px solid black;
}
table{
    border:1;
    border-collapse: collapse;
    margin: 0px auto;
}
input[type="date"],input[type="password"],input[type="text"],input[type="time"],select[id="bunrui"],select[id="shift"]{
    height: 24px;
    width: 150px;
}
input[type="submit"],input[type="button"]:hover{
    cursor: pointer;
}
select[id="year"],select[id="month"]{
    height: 24px;
    width: auto;
}
.button{
    display: flex;
    justify-content: center;
    text-align: center;
}
th{
    font-weight: bold;
}
th,td{
    padding:5px;
    text-align: center;
}
.midashi{
    width: 100px;
    text-align: center;
}

footer{
    margin-top: 30px;
    height: 10px;
    background: #102896ec;
}
@page {
    size: A4;
    margin: 0;
  }
@media print{
    .header1{display:none;}
    .header2{display:none;}
    body{border:0;}
    body{box-shadow:none;}
    .hyouBox{box-shadow:none;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;}
    .left,.right{display:inline}
    input[name="print"]{display:none;}
    input[name="select"]{display:none;}
}